@media only screen and (min-width: 1024px) {
 
    body{
        margin: auto;
        max-width: 1500px;}
    
    button { display:none; }

  /*weather gallery grid*/
    
section.forecast {
         max-width: 98%;}
    
div.weatherGallery {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    
div.weatherGallery figure:hover {
        box-shadow: 5px 5px 5px #F1F7EE;
    }

    
.weather-summary {max-width: 32%;}
    
    
.fashionista {max-width: 64%;}
    
    
.sidebyside{
	display:flex;
}

.sidearticle {
        display: flex;
    
    }
    
.fashionista {
        display: flex;
    }
    
/*form styling*/
     form label.sbs {
        padding: .4rem 0;
    }

}