@media only screen and (min-width: 1024px ) {

.fashionnews {}

nav ul.hide{display:block}
 button { display:none; }

  
    .weather-summary, .fashion-news {width: 48%;}
    
  {display: flex;}
    
    
   .sidebyside{
	display:flex;
}

    .sidearticle {
        display: flex;
    
    }
}
  
    
  