@media only screen and (min-width: 1024px ) {

.fashionnews {}
    
 button { display:none; }
    
    .weather-summary, .fashion-news {max-width: 48%;}
    
   .sidebyside{
	display:flex;
}
    
}
  
    
  