@media only screen and (min-width: 1024px ) {

.fashionnews {}
    
    nav button { display:none; }
    
    .weather-summary {max-width: 50%;}
    
    .fashion-news {max-width: 50%;
     }
  }
    
  