@media only screen and (min-width: 600px) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    
    /* hamburger button does not need to be shown in the medium on up views */
    nav li {display: inline-flex;}
    nav ul.hide{display:block}
    
    button { display:none; } 
    
    
   .highlights { display:block;
    margin: auto;
    width: 92%;
    }
       
      /*weather gallery grid*/
    div.gallery {
        grid-template-columns:  1fr 1fr 1fr;
        grid-gap: 6%;
    } 
       
       
       .arriba{
           margin-top: 25px;
           margin-left: 10px;
    display:flex;
}
    .salesAC{
    width:50vw;
    margin: auto;
    display: block;
}
    
    .salesbike {width: 50vw;
    display:block;
    margin:auto;}
    
    
    
     /*repairs*/

.repairInfo {
    width: 50vw;
    display:block;
    margin: auto;
    background-color: #504d38;
    border: 5px solid #504d38;
   
    padding: 10px;
    font-size: 18px;
}

/*end repairs*/
}
    
   
