@media only screen and (min-width: 1024px ) {

.fashionnews {}

nav ul.hide{display:flex;}
 button { display:none; }

  
    .weather-summary, .fashion-news {width: 48%;}
    
  {display: flex;}
    
  
    
   .sidebyside{
	display:flex;
}

    #redumbrella { display: flex;  
}
  
  
  